/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* touch-action: manipulation; Fixed 300ms delay on touch-click event, but removes double-tap to zoom */
html { touch-action: manipulation; }

body { padding: 0; margin: 0; }

a { color: black; }

.color-bg-orange { background-color: #F39450; }
.color-bg-orange-lighter { background-color: #F2A561; }
.color-bg-orange-lightest { background-color: #f1d2b8; }

.template { display: none; }
.dialog { display: none; }
.hidden { display: none !important; }
.ul-nostyle { padding: 0; margin: 0; }
.ul-nostyle > li { padding: 0; margin: 0; list-style: none; }
.hr { border-top: 1px solid #f1d2b8; margin: 5px; }
.button { background-color: #F2A561; color: black; border: none; border-radius: 5vw; padding: 1vw 3vw; }
.select-button { background: none; border: none; }
.select-button.single { background: none; -webkit-appearance: none; border: none; }

#ggb,
#ggb button,
#ggb input,
#ggb select,
#ggb option { font-size: 32px; font-family: 'B612', sans-serif; }

#ggb .clickable { cursor: pointer; }

#ggb .icon { height: 50px; width: 50px; }
#ggb .icon-delete { background-image: url('/assets/images/icons8-delete-50.svg'); background-size: contain; }
#ggb .icon-list { background-image: url('/assets/images/icons8-playlist-50.png'); }
#ggb .icon-load { background-image: url('/assets/images/icons8-reply-arrow-50.png'); }

#ggb .icon-checkbox { display: none; }
#ggb .icon-checkbox ~ label { display: inline-block; height: 50px; width: 50px; background-image: url('/assets/images/icons8-toggle-off-50.png'); background-size: contain; }
#ggb .icon-checkbox:checked ~ label { background-image: url('/assets/images/icons8-toggle-on-50.png'); }
#ggb .icon-checkbox.icon-grid ~ label { background-image: url('/assets/images/icons8-squared-menu-outer-50.png'); height: 75px; width: 75px; }
#ggb .icon-checkbox.icon-grid:checked ~ label { background-image: url('/assets/images/icons8-squared-menu-center-50.png'); }
#ggb .icon-checkbox.icon-lock ~ label { background-image: url('/assets/images/icons8-lock-open-50.png'); }
#ggb .icon-checkbox.icon-lock:checked ~ label { background-image: url('/assets/images/icons8-lock-50.png'); }
#ggb .icon-checkbox.icon-dot ~ label { background-image: url('/assets/images/icons8-circle-filled-50.png'); }
#ggb .icon-checkbox.icon-dot:checked ~ label { background-image: url('/assets/images/icons8-circle-50.png'); }

#ggb .edit-list { width: 100%; max-width: 1024px; border-spacing: 0 1vw; }
#ggb .edit-list tr { }
#ggb .edit-list tr > * { padding: 10px 15px; }
#ggb .edit-list tr > *:first-child { border-radius: 25px 0 0 25px; padding-left: 30px; }
#ggb .edit-list tr > *:last-child { border-radius: 0 25px 25px 0; padding-right: 30px; width: 100%; }
#ggb .edit-list td { }
#ggb .edit-list td > * { vertical-align: middle; }
#ggb .edit-list th.min { width: 1%; }
#ggb .edit-list input { width: 90%; border-radius: 25px; border: none; padding: 5px 30px; background-color: #f1d2b8; }

#ggb #content { position: relative; text-align: center; user-select: none; }
#ggb #content table { display: inline-table; }
#ggb #content table.template { display: none; }
#ggb #content .content-body { box-shadow: 0 0 10px black; background-color: #F39450; }
